#flex {
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 1vw;
}

.column {
    flex: 33.3%;
    max-width: 33.3%;
}

.col-img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

